<div class="grid grid-cols-12 gap-4">
    <div class="col-span-12">
        <div class="card">
            <div class="font-semibold text-xl mb-4">Empty Page</div>
            <p>Use this page to start from scratch and place your custom content.</p>
            <p><p-button type="button"
                          icon="pi pi-search"
                          text
                          severity="secondary"
                          (click)="op.toggle($event)"></p-button>
                <p-popover #op
                           id="overlay_panel">
                    <p-iconfield class="w-full">
                        <p-inputicon class="pi pi-search" />
                        <input pInputText
                               type="text"
                               placeholder="Search"
                               class="w-full" />
                    </p-iconfield>
                </p-popover>
            </p>
        </div>
    </div>
</div>